
#!/usr/bin/env bash
set -euo pipefail

sudo pacman -Syu --noconfirm
command -v ansible >/dev/null || sudo pacman -S --noconfirm ansible

PLAYBOOK_DIR="$HOME/.local/share/chezmoi/playbook"
ansible-playbook -K -i localhost, -c local \
  -e "device={{ .data.device }} de={{ .data.de }}" \
  "$PLAYBOOK_DIR/playbook.yml"

