
- hosts: localhost
  become: true
  gather_facts: false
  vars:
    device: "{{ .data.device }}"
    de: "{{ .data.de }}"
  roles:
    - common
    - { role: hyprland, when: de == "hyprland" }
    - { role: plasma,   when: de == "plasma"   }

